.search {
  text-align: center;
  height: 40px;
  margin-bottom: 20px;
}
.search input {
  height: 30px;
  width: 400px;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  border: 0;
  padding: 0 10px;
  border: 4px solid #28afd4;
}
